# Java
*.class
*.jar
*.war
*.ear
*.zip
*.tar.gz
*.rar

# Eclipse
.project
.classpath
.settings

# Idea
.idea
*.iml
*.iws
*.ipr

# Maven
target/
dependency-reduced-pom.xml
pom.xml.tag
pom.xml.releaseBackup
pom.xml.versionsBackup
pom.xml.next

# Gradle
.gradle
!gradle-wrapper.jar

# OS
Thumbs.db
.DS_Store


# Other
*.log
*.swp
*.bak

# VSC
.vscode
# Factory Path
.factorypath